@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #fafafa;
}
.container-tcss {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-tcss {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-tcss {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-tcss {
    width: 1170px;
  }
}